
@{
    ViewBag.Title = "About";
}
    <div class="row">
        <div class="col-sm-12">
            <h2 class="title text-center"><strong>About Us</strong></h2>

        </div>
        <div class="col-sm-5 productinfo text-center contact-info ">
            <div class="social-networks">
                <img src="~/img/home/IMG_8045.JPG" class="img-fluid rounded-top" />
                <br />
                <br />
                <h2>Farhan Ahmed</h2>
                <p>
                    Software Engineer
                    &
                    Founder of FAOSM
                </p>
                <ul>
                    <li>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-youtube"></i></a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-sm-7">
            <p class="text-capitalize text-justify p-4">
                Lorem ipsum dolor sit amet consectetur,
                adipisicing elit. Ad sapiente veritatis,
                tempora dignissimos doloribus omnis,
                quam rem cum neque eveniet impedit voluptas
                porro eum illum  Lorem ipsum dolor sit amet consectetur,
                adipisicing elit. Ad sapiente veritatis,
                tempora dignissimos doloribus omnis,
                quam rem cum neque quam rem cum neque eveniet impedit voluptas
                porro eum illum  Lorem ipsum dolor sit amet consectetur,
                adipisicing elit. Ad sapiente veritatis,
                tempora dignissimos doloribus omnis,
                quam rem cum neque quam rem cum neque eveniet impedit voluptas
                porro eum illum  Lorem ipsum dolor sit amet consectetur,
                adipisicing elit. Ad sapiente veritatis,
                tempora dignissimos doloribus omnis,
                quam rem cum neque quam rem cum neque eveniet impedit voluptas
                porro eum illum  Lorem ipsum dolor sit amet consectetur,
                adipisicing elit. Ad sapiente veritatis,
                tempora dignissimos doloribus omnis,
                quam rem cum neque eveniet impedit voluptas
                porro eum illum  Lorem ipsum dolor sit amet consectetur,
                adipisicing elit. Ad sapiente veritatis,
                tempora dignissimos doloribus omnis,
                quam rem cum neque eveniet impedit voluptas
                porro eum illum inventore laborum voluptates
                sit eligendi eius quod quidem perspiciatis!
                Sint illum, rerum laboriosam eligendi sequi
                maiores nisi unde corporis nobis doloremque
                iste quibusdam id aliquid voluptate aspernatur,
                rem ab pariatur esse minus dolores eum, laborum
                reprehenderit! Harum incidunt eligendi deleniti
                corrupti sunt, expedita itaque. Nesciunt a facere
                accusantium mollitia perferendis repellat quisquam,
            </p>
        </div>

    </div>

